@import "fonts.css";
@import "utils.css";
@import '../../../../node_modules/compass-mixins/lib/compass';

.ir { direction: rtl; text-align: right; }
.en { direction: ltr; text-align: left; }

body {
  .sidenav:first-child {
    background: rgba(35,159,64,1);
    background: -moz-linear-gradient(top, rgba(35,159,64,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.72) 54%, rgba(255,255,255,0.59) 80%, rgba(231,56,39,0.49) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(35,159,64,1)), color-stop(20%, rgba(255,255,255,0.9)), color-stop(54%, rgba(255,255,255,0.72)), color-stop(80%, rgba(255,255,255,0.59)), color-stop(100%, rgba(231,56,39,0.49)));
    background: -webkit-linear-gradient(top, rgba(35,159,64,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.72) 54%, rgba(255,255,255,0.59) 80%, rgba(231,56,39,0.49) 100%);
    background: -o-linear-gradient(top, rgba(35,159,64,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.72) 54%, rgba(255,255,255,0.59) 80%, rgba(231,56,39,0.49) 100%);
    background: -ms-linear-gradient(top, rgba(35,159,64,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.72) 54%, rgba(255,255,255,0.59) 80%, rgba(231,56,39,0.49) 100%);
    background: linear-gradient(to bottom, rgba(35,159,64,1) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.72) 54%, rgba(255,255,255,0.59) 80%, rgba(231,56,39,0.49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#239f40', endColorstr='#e73827', GradientType=0 );
  }
  .pulse-hover {
    position: absolute;
    z-index:1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: none;
    border: 2px solid;
    border-radius: 50%;
    transform:scale(1);
    transition: all .3s cubic-bezier(.5,-0.5,.75,.75);
    &:hover {
      opacity: 1;
      transform:scale(1.15);
      transition-timing-function:cubic-bezier(0.25,0.75,0.25,1.5);
    }
  }
}
