<%- include(app_path + "/views/layouts/header.ejs") %>
<div class="font-56 purple-text mb-15">
  <i class="font-56 material-icons" style="position: relative; top: 20px;">photo_camera</i>
  بنرها
  <hr class="purple m-0 height-2" />
</div>
<div class="row p-40 center-align" style='padding-top: 10px !important'>
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6 left-align">
        <a class="waves-effect waves-light btn" style="position: relative; top: 20px"><span class="fa fa-plus"></span> بنر جدید</a>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">search</i>
        <input id="last_name" type="text" class="validate" class="mr-20" placeholder="عبارت مورد نظر خود را جستجو کنید.">
        <!-- <span class="helper-text" data-error="wrong" data-success="right"><span class="fa fa-search"></span> جستجو کنید.</span> -->
      </div>
    </div>
  </div>
  <div class="col s12">
    <div id="events" class="center-align pr-20"></div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    send_request("/event/list", { }, function(data) {
      var build_event_button = (title, options = { }) => {
        var out = '<a class="waves-effect waves-light btn ml-20 green lighten-2" data-event '
        for (key in options) out += key + "='" + options[key] + "' "
        out += "><span class='fa fa-check'></span> " + title + "</a>";
        return out
      }
      $("#events").append(
        build_event_button(
          "همه موارد", {
            checked: "true",
            id: "events-all-btn",
          }
        )
      )
      $.each(data, (_, item) => { $("#events").append(build_event_button(item.title, { "data-id": item.id, checked: "true" })) })
      setTimeout(function() {
        change_check = ($this) => {
          if(!$this.attr('checked')) {
            $this.removeClass('red').addClass('green');
            $this.find('.fa').removeClass('fa-times fa-minus').addClass('fa-check');
            $this.attr('checked', true)
          } else {
            $this.removeClass('green').addClass('red');
            $this.find('.fa').removeClass('fa-check fa-minus').addClass('fa-times');
            $this.removeAttr('checked')
          }
        }
        $("#events a.btn[data-event]").click(function() {
          console.log('shit clicked')
          change_check($(this))
          if($(this).attr('id') !== "events-all-btn")
            $(this)
              .siblings('#events-all-btn')
                .removeAttr('checked')
                .removeClass('red green')
                .addClass('orange')
                .find('.fa')
                  .removeClass('fa-times fa-check')
                  .addClass('fa-minus')
        })
        $("#events #events-all-btn").click(function() {
          $(this)
            .removeClass('orange')
            .find('.fa')
            .removeClass('fa-minus')
          $(this)
            .siblings('[data-event]')
            .each(function() {
              $(this).attr('checked', (_, attr) => { return !$('#events-all-btn').attr('checked') });
              change_check($(this))
            })

        })
      }, 100)
    })
  })
</script>
<%- include(app_path + "/views/layouts/footer.ejs") %>
