<%- include(app_path + "/views/layouts/header.ejs") %>
<div style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background-image: url(<%= assets_path + '/images/bgimage_2.jpg' %>);
  background-position: center; background-repeat: repeat; background-size: cover; opacity: 0.05; z-index: -100000"></div>
<div class="row center-align pt-20 p-40 mt-10">
  <div class="col s12">
    <p class="font-fa-nastaliq font-50 line-height-84 p-0 m-0" style="font-weight: 100;">
      سامانه جامع مدیریت اقلام فرهنگی<br />
      عقیدتی-سیاسی
      «هادی»
    </p>
    <p><span class="limited_version"></span></p>
  </div>
  <div class="col s12 xl6x">
    <h4 class='border-bottom pb-10 right-align red-text'><span class="material-icons font-46" style="position: relative; top: 10px">call_split</span> حدیث روز</h4>
    <div class="pr-20 right-align font-25 line-height-60">
      <p><b hadis-title></b></p>
      <div class="row">
        <div class="col s11" style="text-align: justify">
          <span hadis></span>
          <span class="material-icons font-46 pr-15 grey-text" style="transform: scaleX(-1)">format_quote</span>
        </div>
        <div class="col s1">
          <span class="material-icons font-46 pr-15 grey-text">format_quote</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 mt-50">
    <h4 class='border-bottom pb-10 right-align green-text'>
      <span class="material-icons font-46" style="position: relative; top: 10px">done_all</span>
      بیان روز
    </h4>
    <div class="pr-20 right-align font-25 line-height-60">
      <div class="row">
        <div class="col s11">
          <span bayan></span>
          <span class="left"><br />— امام خامنه‌ای (مدظله العالی)
            <span class="material-icons font-46 pr-15 grey-text" style="transform: scaleX(-1)">format_quote</span>
          </span>
        </div>
        <div class="col s1">
          <span class="material-icons font-46 pr-15 grey-text">format_quote</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    send_request('/home/context', { }, function(resp) {
      if(validate_response(resp)) {
        data = response_data(resp)
        $('[bayan]').html(data.bayan)
        $('[hadis-title]').html(data.hadis.title + ":")
        $('[hadis]').html(data.hadis.content)
      }
    })
  })
</script>
<%- include(app_path + "/views/layouts/footer.ejs") %>
