<%- include(app_path + "/views/layouts/header.ejs") %>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Shopping List</a>
    </div>
  </nav>
  <a href="../newfile.ejs"><span class="fa fa-home"></span> GOTO2</a>
<%- include(app_path + "/views/layouts/footer.ejs") %>
