<%- include(app_path + "/views/layouts/header.ejs") %>
 <div class="row center-align pt-40" id="select-working-branch">
   <div class="col s4 p-50">
     <a class="btn-floating pulse pulse-hover purple lighten-1 btn-large waves-effect waves-light width-270 height-270 pt-110">
       <i class="font-120 material-icons">photo_camera</i>
       <span class="pulse-border"></span>
     </a>
     <p class="font-fa-nastaliq purple-text lighten-1-text font-40">
       بنرها
     </p>
   </div>
   <div class="col s4 p-50">
     <a class="btn-floating pulse pulse-hover indigo lighten-1 btn-large waves-effect waves-light width-270 height-270 pt-100">
       <i class="font-120 fa fa-book"></i>
       <span class="pulse-border"></span>
     </a>
     <p class="font-fa-nastaliq indigo-text lighten-1-text font-40">
       کتابخانه
     </p>
   </div>
   <div class="col s4 p-50">
     <a class="btn-floating pulse pulse-hover blue lighten-1 btn-large waves-effect waves-light width-270 height-270 pt-105">
       <i class="font-120 material-icons">donut_small</i>
       <span class="pulse-border"></span>
     </a>
     <p class="font-fa-nastaliq blue-text lighten-1-text font-40">
       لوح فشرده
     </p>
   </div>
   <div class="col s6 p-15">
     <a class="btn-floating pulse pulse-hover red lighten-1 btn-large waves-effect waves-red width-270 height-270 pt-100">
       <i class="font-120 material-icons">grain</i>
       <span class="pulse-border"></span>
     </a>
     <p class="font-fa-nastaliq red-text lighten-1-text font-40">
       یگان‌ها
     </p>
   </div>
   <div class="col s6 p-15">
     <a class="btn-floating pulse pulse-hover green lighten-1 btn-large waves-effect waves-light width-270 height-270 pt-110">
       <i class="font-120 fa fa-ellipsis-h"></i>
       <span class="pulse-border"></span>
     </a>
     <p class="font-fa-nastaliq green-text lighten-1-text font-40">
       سایر اقلام فرهنگی
     </p>
   </div>
 </div>
<%- include(app_path + "/views/layouts/footer.ejs") %>
