<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <title>نرم‌افزار جامع هادی</title>
    <link rel="stylesheet" href="<%= assets_path %>/stylesheets/css/application.css" />
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="<%= node_modules_path %>/materialize-css/dist/js/materialize.min.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
  </head>
  <body style="overflow: hidden">
    <div class="rowx pt-20">
      <img src='<%= assets_path %>/images/imam_khamenei.jpg' style="height: 500px; opacity: 0.3; position: absolute; right: 0; top: 0; z-index: -10000"/>
      <center>
        <h1 class="font-fa line-height-70 font-28" style="position: relative; top: -20px">
          سامانه جامع مدیریت اقلام فرهنگی<br />
          عقیدتی-سیاسی<br /><br />
          <span class="font-fa-nastaliq font-80">هادی</span>
        </h1>
      </center>
      <div class="w-100 font-fa font-20 line-height-40" style="position: absolute; bottom: -20px;">
        <div class="row w-80 line-height-30x">
          <b class="leftx">امام خامنه‌ای (مدظله العالی): </b><br />
          <center class="p-0 m-0">بزرگترين مبارزه‏ با امريكا، خدمت به اين مردم است.</center>
        </div>
        <hr />
        <div class="grey-text font-15 center-align">
          <div class="row">
            <div class="col s7 left-align">
              <b><span class="material-icons" style="position: relative; top: 7px;">laptop_chromebook</span> پیاده‌سازی و برنامه‌نویس: </b>
              ستوان‌سوم وظیفه داریوش حسن‌پور
            </div>
            <div class="col s5 right-align">
              <b><span class="material-icons" style="position: relative; top: 7px;">directions</span> ایده و مشاوره توسط: </b>
              سروان هادی فاضلی
            </div>
            <div class="col s12 center-align">
              <b>دهه فجر ۱۳۹۷</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
