<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <title>ShoppingList</title>
    <link rel="stylesheet" href="<%= assets_path %>/stylesheets/css/application.css" />
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="<%= node_modules_path %>/materialize-css/dist/js/materialize.min.js"></script>
    <script src="<%= node_modules_path %>/jquery/dist/jquery.min.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div class="row">
      <ul id="slide-out" class="col s2 sidenav sidenav-fixed right-aligned fa">
        <li class="center-align">
          <div class="user-view" style="height: 150px">
            <div class="background">
              <img src="<%= assets_path %>/images/naja.png" height="140">
            </div>
          </div>
          <p class="font-fa-nastaliq font-30 line-height-64" style="font-weight: 100;">
            سامانه جامع مدیریت اقلام فرهنگی<br />
            عقیدتی-سیاسی
          </p>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>Second Link</a></li>
        <li><a href="#!" class="red-text" onclick="require('electron').remote.getCurrentWindow().close()"><span class="fas fa-sign-out-alt fa-2x ml-5" style="position: relative; top: 7px"></span> خروج از برنامه</a></li>
      </ul>

      <div class="col s10 pr-10 pt-15">
