<!DOCTYPE html>
<html>
<head>
  <title>ShoppingList</title>
  <link rel="stylesheet" href="<%= root_path %>/node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="<%= root_path %>/node_modules/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="<%= app_path %>/assets/stylesheets/material-icons.css" />
  <script src="<%= root_path %>/node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <style media="screen">
  .btn-small {
      width: 20px !important;
      height: 20px !important;
      font-size: 7px !important;
      line-height: 0px !important;
      padding: 0;
  }
  </style>
</head>
<body>
